{% extends 'base.html' %} {% block content %}

<main>
  <section class="cart-page">
    {% if products %}
    <ul class="cart-items">
      {% for product in products %}
      <li class="cart-item">
        <img
          src="{{ product.img_url }}"
          alt="{{ product.name }}"
          class="cart-item-image"
        />
        <div class="cart-item-info">
          <h2>{{ product.name }}</h2>
          <p>{{ product.description }}</p>
          <p class="cart-item-price">${{ product.price }}</p>
        </div>
        <form
          action="{{ url_for('remove_from_cart', id=product.id) }}"
          method="POST"
        >
          <input type="hidden" name="product_id" value="{{ product.id }}" />
          <button type="submit" class="remove-btn">Remove</button>
        </form>
      </li>
      {% endfor %}
    </ul>
    <div class="cart-total">
      <h2>Total: ${{ total }}</h2>
      <button class="checkout-btn">Pay now</button>
    </div>
    {% else %}
    <h1>Your cart is empty.</h1>
    {% endif %}
  </section>
</main>

{% endblock %}
