{% extends 'base.html' %} {% block content %}

<section class="hero">
  <div class="banner">
    <h1>Welcome to our online store!</h1>
    <div class="banner-product">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqknv9bG7lLalT0TE9Bs_VHiWRRIMZONbYew&s"
        alt="Featured Product"
      />
      <div>
        <h2>Product Name</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore.
        </p>
        <a href="#" class="btn">See more</a>
      </div>
    </div>
  </div>
</section>

<section class="featured-products">
  {% for product in products %}
  <div class="product-card">
    <img src="{{product.img_url}}" alt="Product 1" />
    <div class="product-description">
      <h2>{{product.name}}</h2>
      <p>${{product.price}}</p>
      <a href="/product/{{product.id}}" class="add-to-cart">See more</a>
    </div>
    </div>
  </div>
  {% endfor %}
</section>

{% endblock %}
